@model BookOpinions.Models.EntityModels.Book
@{
    ViewBag.Title = "About";
}

<h2>@Model.Title</h2>

<img class="img-responsive img-rounded" alt="picture of the book" src="@Model.Image.Url" />
<div class="">
    <p>Authors: </p>
    @foreach (var author in Model.Authors)
    {
        @author.Name
    }

    @foreach (var grade in Model.Rating)
    {
        @grade.
    }

    @foreach (var opinion in Model.Opinions)
    {
        <p>By @opinion.User.Name </p>
        <p>Comment: @opinion.Comment </p>
    }

    <div class="tr" style="background-color:#f1f1f1;">
        <div class="td0">Please rate this school</div>
        <div class="td">@Html.Partial("_VoteNow", Model.Id.ToString())</div>
        <div class="td">@Html.Partial("_VoteShow", Model.Rating)</div>
    </div>
</div>